<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/header :: header('Create post')"></head>

<body>
<div th:replace="fragments/navbar :: navbar"></div>

<form class="form-group" th:method="post" th:action="@{/posts/create}" enctype="multipart/form-data">
    Title:
    <input th:name="title" />
    <br />
    Body:
    <input th:name="body" />
    <br />
        <label for="file">Upload a file!</label>
        <input id="file" name="file" type="file" />
        <br />
        <input type="submit" value="upload" />
    <!--<input type="submit" />-->
</form>



</body>
</html>