<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>

<th:block th:fragment="navbar">
    <nav class="navbar navbar-light bg-light">
        <ul class="flexThis">
            <li class="nav-item d-inline mx-2"><a href="/">Home</a></li>
            <li class="nav-item d-inline mx-2"><a href="/posts">Posts</a></li>
            <li class="nav-item d-inline mx-2"><a href="/roll">Dice Roll</a></li>
            <li class="nav-item d-inline mx-2"><a href="/posts/create">Create new post</a></li>
            <li class="nav-item d-inline mx-2"><a href="/fileupload">Upload a file</a></li>
        </ul>
    </nav>
</th:block>

</body>
</html>
